.container{
    width: 100vw;
    height: 80vh;
    display: flex;
}
a{
    color: black;
    text-decoration: none;
}
.container__left{
    width: 20vw;
    height: 80vh;
    background: black;
    opacity: 0.6;
}
.container__middle{
    width: 60vw;
    height: 80vh;
    background-image: url("../image/warcraft_alliance_movie_wallpaper_by_deathonabun_d85mf0y-pre.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
    opacity: 0.9;
    overflow:auto;
    display: flex;
    flex-direction: column;
    
}
.pagination{
    width: 100%;
    display: flex;
    justify-content: space-around;
    color:#fff;
    font-size: 20px;
}
i{
    margin-top: 10px;
    cursor: pointer;
}
.container__post{
    margin-top: 30px;
    align-self: center;
    width: 80%;
    background-image: url("../image/dceff6eb8639f46f68f25c36125bdbeb.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
    justify-content: center;
 
}
.container__post--header{
    width: 100%;
    height: 30%;
    display: flex;
}
.container__post--title{
    font-family: 'UnifrakturCook', cursive;
    font-size: 30px;
    margin: 0;
    padding: 10px;
    align-self: center;
    cursor: pointer;
}
.container__post--mark{
    font-family: 'UnifrakturCook', cursive;
    font-size: 30px;
    margin: 0;
    padding: 10px;
    align-self: center;
}
.container__post--date{
    font-family: 'UnifrakturCook', cursive;
    font-size: 20px;
    margin: 0;
    padding: 10px;
    align-self: center;
}
.container__post--author{
    font-family: 'UnifrakturCook', cursive;
    font-size: 20px;
    margin: 0;
    padding: 10px;
    align-self: center;
}
.container__post--text{
    width: 80%;
    height:30%;
    margin-left: 40px;
    margin-top: 10px;
}
.container__post--picture{
    background-image: url("../image/coin.png");
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    margin: 0;
}
.container__post--read{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-end;
}
.container__post--button{
    align-self: flex-end;
    height:30px;
    background: #690101;
    color: #EFBC00;
    font-weight: 100;
    font-size: 16px;
    padding: 4px 40px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    border: 3px solid #3F464F;
    text-decoration: none;
    cursor: pointer;
    margin: 4px;
}
.container__right{
    width: 20vw;
    height: 80vh;
    background: black;
    opacity: 0.6;
}
.container__list--header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
}
.container__list--text{
    color:#fff;
    font-family: 'UnifrakturCook', cursive;
}


.container__list--authors{
    color:#fff;
    font-family: 'UnifrakturCook', cursive;
    display: flex;
    justify-content: center;
    font-size: 24px;
}
.container__list--authors ul {
    list-style-type: none;
}
.container__list--authors li{
    font-size: 24px;
    cursor: pointer;
}
.authorlist{
    color:#fff;
}